* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'DS-Digital Normal';
    src: url(fonts/DS-DIGI.ttf);
}
body {
    background-color: black;
    color: aqua;
    font-family: 'DS-Digital Normal';
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.section {
    width: 100%;
    border: 1px solid aqua;
    padding: 30px;
    display: flex;
    align-items: center;
}
/*buttons*/
input[type="button"] {
    border: 1px solid aqua;
    border-radius: 3px;
    color: aqua;
    background-color: black;
    width: 60px;
    height: 25px;
}
#timer-adjust > input[type="button"] {
    width: 25px;
}
/*clock*/
#upper {
    justify-content: center;
}
#current-time {
    width: 300px;
}
#date {
    text-align: center;
    font-size: 30px;
}
#clock, #timer-number, #timer-value{
    font-size: 90px;
}
/*stopwatch*/
#middle {
    justify-content: space-around; 
}
#loop-value {
    width: 250px;
    height: 150px;
    border: 1px solid grey;
}
#stopwatch {
    width: 500px;
    height: 200px;
    position: relative;
}
#stopwatch-value {
    font-size: 70px;
    position: absolute;
    top: 20%;
    left: 250px;
    transform: translate(-180px, 0); 
}
#stopwatch-control {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
}
#stopwatch-control > * {
    margin: 5px;
}
#loop-value {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    overflow: scroll;
}
#loop-value > * {
    margin: 4px;
}
/*timer*/
#lower {
    justify-content: space-around;
}
#timerset {
    display: flex;
    flex-flow: column;
    align-items: center;
}
#timer-adjust > *{
    margin: 5px;
}
#timer-value {
    text-align: center;
}
#timer-control {
    display: flex;
    justify-content: center;
}
#timer-control > * {
    margin: 5px;
}
@media (max-width: 800px) {
    #middle {
        flex-direction: column;
        justify-content: center;
    }
    #lower {
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 500px) {
    #stopwatch {
        width: 400px;
    }
    #stopwatch-value {
        font-size: 50px;
        left: 200px;
        transform: translate(-125px, 0); 
    }
}
@media (max-width: 400px) {
    .section {
        padding: 30px 0;
    }
    #clock, #timer-number, #timer-value{
        font-size: 50px;
    }
    #current-time {
        width: 200px;
        text-align: center;
    }
    #stopwatch {
        width: 300px;
    }
    #stopwatch-value {
        font-size: 40px;
        left: 150px;
        transform: translate(-100px, 0); 
    }
}